@model RenderingModel

<div class="activity-feed">
    <h2>@Model.Item["{421ECF29-227C-4C39-935C-F2C66D06A327}"]</h2>
    <div class="feed-item">
        <div class="date">@Model.Item["{865A0811-F9E2-48A6-99A0-E767E3CECBFB}"]</div>
        <div class="text">@Model.Item["{24ECCED4-49E5-448C-BEB3-55AB862712B3}"]</div>
    </div>
    <div class="feed-item">
        <div class="date">@Model.Item["{5F20AE02-89C5-4B3B-BC7B-EA4072F68DB7}"]</div>
        <div class="text">@Model.Item["{6A2E4D53-AF92-492C-9AC5-F69399268B21}"]</div>
    </div>
    <div class="feed-item">
        <div class="date">@Model.Item["{C81D8DDA-3AFA-4641-A869-B3576BFC02E7}"]</div>
        <div class="text">@Model.Item["{0F00C02D-5E2D-4917-8CFF-C18EC605D12B}"]</div>
    </div>
    <div class="feed-item">
        <div class="date">@Model.Item["{A2D16A36-CBCA-4EBA-AAEB-795066817718}"]</div>
        <div class="text">@Model.Item["{D265833D-0687-4265-8398-57282BEA54B6}"]</div>
    </div>
    <!-- <div class="feed-item">
        <div class="date">@Model.Item["{D959696C-3BA3-4CC4-BE26-9994AE05D63D}"]</div>
        <div class="text">@Model.Item["{E110B1D0-88E6-4B7A-925C-8E5FBD0B7A46}"]</div>
    </div> -->
</div>

